

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding: 1rem;
	gap: 2rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	background-color: #000000;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.alchemy_logo{
	display: row;
	align-items: center;
	gap: 1rem;
	width: 4rem;
	height: 4rem;
	cursor: pointer;

}