

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	gap: 4rem;
	margin-bottom: 3rem;
	background-color: #000000;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.alchemy_logo{
	display: row;
	align-items: center;
	gap: 1rem;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	
}